@charset "utf-8";

/* CSS Document */

html {
	margin: 0px;
	padding: 0px;
	outline:none;
}

a,img {border:none; outline:none}

body {
	margin: 0px;
	padding: 0px;
	background: url({$IMG_DIR}bkg_gs.gif) top center repeat-x;
	font-family: "Trebuchet MS", Arial;
	color: #000;
	font-size: 12px;
	min-height: 700px;
}

.inline {display:inline}

.clearfix {clear: both; font-size:0px; line-height:0px; height:0px}
.clear {clear: both}
.clear_l {clear:left;}
.clear_r {clear:right;}

.fl {float: left;}
.fr {float: right;}

.none
{
	display:none;
}
