$evoque{name="includes/head.html"}
<h1>${greeting}</h1>
<form method="post" action="${SELF}" enctype="multipart/form-data">
	<input type="text" name="test[]" value="hT0" /> <br />
	<input type="text" name="test[]" value="aT4" /> <br />
	
	<input type="text" name="test[1]" value="rT1" /> <br />
	<input type="text" name="test[2]" value="eT2" /> <br />
	<input type="text" name="test[3]" value="dT3" /> <br />
	
	<input type="text" name="cachal" value="chacal" /> <br />
	
	<input type="text" name="test[]" value="sT5" /> <br />
	<input type="text" name="test[7]" value="gT7" /> <br />
	<input type="text" name="test[]" value="oT6" /> <br />
	
	
	
	
	<input type="radio" name="sab" value="x1" checked="checked" />Sab1
	<input type="radio" name="sab" value="x2" />Sab2
	<br />
	<input type="checkbox" name="hash" value="1" />Chk1
	<input type="checkbox" name="hash" value="2" />Chk1
	<input type="checkbox" name="hash" value="3" />Chk1
	<input type="checkbox" name="hash" value="4" />Chk1
	
	<br />
	<input type="file" name="diedatei1" />Der File1<br />
	<input type="file" name="diedatei2" />Der File2<br />
	
	<br />
	<input type="submit" value="Clickme" />
</form>
$evoque{name="includes/foot.html"}